<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">
      <%= EnvironmentalSetting.human_title(:create) %>
      <%= link_to_back admin_floors_path%>
    </h4>
  </div>
  <div class="card-body">
    <%= simple_form_for @environmental_setting, url: admin_environmental_setting_path(@environmental_setting, floor_id: params[:floor_id]), method: :patch do |f|%>
    <%= f.error :value %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th><%= EnvironmentalSetting.human_attribute_name(:environmental_condition) %></th>
          <th><%= EnvironmentalSetting.human_attribute_name(:minimum_value) %></th>
          <th><%= EnvironmentalSetting.human_attribute_name(:maximum_value) %></th>
        </tr>
      </thead>
      <tbody>
        <% @environmental_conditions.each do |condition| %>
        <tr>
          <td class="font-weight-bold"><%= condition.name %></td>
          <td><%= f.input "min_value_#{condition.id}", label: false, input_html: { class: "form-control" }  %></td>
          <td><%= f.input "max_value_#{condition.id}", label: false, input_html: { class: "form-control" }  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= f.input :floor_id, as: :hidden %>
    <%= f.button :submit, class:"btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
