<%= form_with(model: arduino) do |form| %>
  <% if arduino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arduino.errors.count, "error") %> prohibited this arduino from being saved:</h2>

      <ul>
        <% arduino.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :serial %>
    <%= form.text_field :serial %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
