<div class="card">
  <div class="card-header card-header-tabs card-header-success">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <span class="nav-tabs-title"><%= Arduino.human_title(:show) %></span>
        <ul class="nav nav-tabs mr-auto" data-tabs="tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#details" data-toggle="tab">
              <i class="material-icons">info</i> Detalles
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sensors" data-toggle="tab">
              <i class="material-icons">sensors</i> Sensores
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#audits" data-toggle="tab">
              <i class="material-icons">rule_folder</i> Log
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to_back arduinos_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active" id="details">
        <div class="form-group">
          <div class="row">
            <div class="col-3 font-weight-bold">
              <%= Arduino.human_attribute_name(:id)%>
            </div>
            <div class="col-9">
              <%= @arduino.id %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 font-weight-bold">
              <%= Arduino.human_attribute_name(:model)%>
            </div>
            <div class="col-9">
              <%= @arduino.model %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 font-weight-bold">
              <%= Arduino.human_attribute_name(:serial)%>
            </div>
            <div class="col-9">
              <%= @arduino.serial %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 font-weight-bold">
              <%= Arduino.human_attribute_name(:created_at)%>
            </div>
            <div class="col-9">
              <%= l(@arduino.created_at, format: :long) %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 font-weight-bold">
              <%= Arduino.human_attribute_name(:updated_at)%>
            </div>
            <div class="col-9">
              <%= l(@arduino.updated_at, format: :long) %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="sensors">
        <p class="text-right">
          <span class="nav-tabs-title text-success"><%= t(:add_sensor, scope: [:views, :texts])%></span>
          <%= link_to_new new_sensor_path(arduino_id: @arduino.id) %>
        </p>
        <%= render 'sensors/sensor', sensors: @arduino.sensors %>
      </div>
      <div class="tab-pane" id="audits">
        <%= render "arduinos/audits", arduino: @arduino %>
      </div>
    </div>
  </div>
</div>