<%= simple_form_for @user do |f| %>

 <% if f.object.errors.any? %>
  <div id="error_explanation">
   <div class="alert alert-error">
     The form contains <%= pluralize(f.object.errors.count, "error") %>.
   </div>
  <ul>
   <% f.object.errors.full_messages.each do |msg| %>
    <li>* <%= msg %></li>
   <% end %>
 </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.input :rut, input_html: { class: "form-control" }, wrapper_html: { class: 'rut' } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.input :firstname, input_html: { class: "form-control" } %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.input :middlename, input_html: { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.input :lastname, input_html: { class: "form-control" } %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.input :mothername, input_html: { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.input :phone, input_html: { class: "form-control" }, wrapper_html: { class: 'phone' } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.input :email, input_html: { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.input :password, input_html: { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.input :password_confirmation, input_html: { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.collection_check_boxes :role_ids, Role.all , :id, :name %>
    </div>
  </div>
</div>
<%= f.button :submit, class:"btn btn-primary pull-right" %>
<% end %>