<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">
      Cambiar contraseña
    </h4>
  </div>
  <div class="card-body">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.input :password, label: "Nueva contraseña", required: true, autofocus: true, hint: ("Mínimo #{@minimum_password_length} caracteres, una mayúscula y un símbolo" if @minimum_password_length), input_html: { autocomplete: "new-password", class: "form-control" } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.input :password_confirmation, label: "Confirmar nueva contraseña", required: true, input_html: { autocomplete: "new-password", class: "form-control" } %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t("devise.views.mailer.save_new_password"), class:"btn btn-primary pull-right" %>
    </div>
    <% end %>
    <br>
    <h4><b><%= render "devise/shared/links" %></b></h4>
  </div>
</div>
