<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <%= image_pack_tag 'login/login.jpeg' , class: "login-card-img", alt:"login" %>
        </div>
        <div class="col-md-7">
          <div class="card-body login-form">
            <div class="brand-wrapper">
            <%= image_pack_tag 'login/brand.png' , class: "logo-img", alt:"logo" %>
            </div>
            <p class="login-card-description"><%= t(:forgot_password_html, scope: [:views, :texts])%></p>

            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <div class="form-group">
                <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class:"form-control" } %>
              </div>
            </div>

            <div class="form-actions">
              <%= f.button :submit, t(:send_password, scope: [:views, :buttons]), class:"btn btn-block btn-success login-btn mb-4" %>
            </div>
            <% end %>
            <nav class="login-card-footer-nav">
              <%= render "devise/shared/links" %>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
