<table class="table">
  <thead>
    <tr>
      <th><%= Sensor.human_attribute_name(:model) %></th>
      <th><%= Sensor.human_attribute_name(:environmental_condition) %></th>
      <th><%= Sensor.human_attribute_name(:floor) %></th>
      <% if policy(Sensor).edit? || policy(Sensor).destroy? %>
      <th><%= t(:actions, scope: [:views, :titles])%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% sensors.each do |sensor| %>
    <tr>
      <td class="font-weight-bold"><%= sensor.model %></td>
      <td><%= sensor.environmental_condition.name %></td>
      <td><%= sensor.floor.id.to_s+": "+sensor.floor.name %></td>
      <td class="td-actions text-right">
        <% if policy(Sensor).edit? %>
          <%= link_to_edit edit_admin_sensor_path(sensor) %>
        <% end %>
        <% if policy(Sensor).destroy? %>
          <%= link_to_destroy admin_sensor_path(sensor) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>