<p>
  <strong>Model:</strong>
  <%= @sensor.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @sensor.serial %>
</p>

<p>
  <strong>Environmental condition:</strong>
  <%= @sensor.environmental_condition_id %>
</p>

<p>
  <strong>Arduino:</strong>
  <%= @sensor.arduino_id %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
