<p><%= t("devise.views.mailer.text1", email: @resource.email) %></p>

<p><%= t("devise.views.mailer.text2") %></p>

<p><%= link_to t("devise.views.mailer.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.views.mailer.text4") %></p>
<p><%= t("devise.views.mailer.text5") %></p>
<br>
<p>Atte. <b>Equipo AgroSyscare</b></p>
