<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title ">
      <%= User.human_title(:index) %>
      <% if policy(User).new? %>
        <%= link_to_new new_admin_user_path %>
      <% end %>
    </h4>
  </div>
  <div class="card-body">
    <%= link_to("Invitar Usuario", invitations_admin_users_path) %>
    <div class="table-responsive">
      <table class="table table-hover" id="users-dttb" data-source="<%= datatable_admin_users_path(format: :json) %>">
        <thead>
          <tr>
            <th data-data='id'><%= User.human_attribute_name(:id) %></th>
            <th data-data='rut'><%= User.human_attribute_name(:rut) %></th>
            <th data-data='firstname'><%= User.human_attribute_name(:firstname) %></th>
            <th data-data='lastname'><%= User.human_attribute_name(:lastname) %></th>
            <th data-data='email'><%= User.human_attribute_name(:email) %></th>
            <th data-data='buttons' data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
