<div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a></div>
  <div class="sidebar-wrapper ">
    <ul class="nav">
      <li class="nav-item ">
        <%= link_to greenhouses_path, class:"nav-link" do %>
          <i class="material-icons", style="color:green">spa</i>
          <p> <%= t(:greenhouses, scope: [:views, :menu]) %> </p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to floors_path, class:"nav-link" do %>
          <i class="material-icons", style="color:green">local_florist</i>
          <p><%= t(:floors, scope: [:views, :menu]) %></p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to arduinos_path, class:"nav-link" do %>
          <i class="material-icons", style="color:green">cast_for_education</i>
          <p><%= t(:arduinos, scope: [:views, :menu]) %></p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path, class:"nav-link" do %>
          <i class="material-icons", style="color:green">person</i>
          <p><%= t(:users, scope: [:views, :menu]) %></p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
