<div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a></div>
  <div class="sidebar-wrapper ">
    <ul class="nav">
      <li class="nav-item active">
        <%= link_to greenhouses_path, class:"nav-link" do %>
          <i class="material-icons">spa</i>
          <p>Invernaderos</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to floors_path, class:"nav-link" do %>
          <i class="material-icons">local_florist</i>
          <p>Secciones</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to arduinos_path, class:"nav-link" do %>
          <i class="material-icons">cast_for_education</i>
          <p>Dispositivos IoT</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path, class:"nav-link" do %>
          <i class="material-icons">person</i>
          <p>Usuarios</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to home_activity_path, class:"nav-link" do %>
          <i class="material-icons">rule_folder</i>
          <p>Auditoria</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
