<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
      <%= link_to "Invernaderos", greenhouses_path, class:"list-group-item list-group-item-action bg-light" %>
      <%= link_to "Secciones", floors_path, class:"list-group-item list-group-item-action bg-light" %>
      <%= link_to "Arduinos", arduinos_path, class:"list-group-item list-group-item-action bg-light" %>
      <%= link_to "Reportería", reports_path, class:"list-group-item list-group-item-action bg-light" %>
      <%= link_to "Usuarios", users_path, class:"list-group-item list-group-item-action bg-light" %>
      <%= link_to "Auditoria", home_activity_path, class:"list-group-item list-group-item-action bg-light" %>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button id="menu-toggle">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to link_to 'Account settings', edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-4 ml-4">
      <%= yield %>
    </div>
  </div>
